@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
/* @import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'); */

@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
/* @import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'); */

@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
/* @import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'); */

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

a:hover, a:visited, a:focus, a:active{ text-decoration: none; color: inherit;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

header {
    height: 60px;
    background-image: linear-gradient(25deg, #E50F90, #F51344);
    /* box-shadow: 5px 4px 4px rgb(0, 0, 0); */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 17.5vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0%;
}

.logo {
    width: 120px;
    margin-bottom: 13px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nome-usuario {
    /* border: 3px solid #000; */
    /* border-radius: 5px; */

    font-size: 14px;
    font-weight: 700;
    color: #000;

    /* padding: 5px 10px; */
    
}

.foto-usuario {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: #ddd solid 2px;
}

.notificacao {
    width: 18px;
}

.acessibilidade-icon {
    width: 15px;
}

.sugestao {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    border-bottom: #E50F90 solid 2px;
    padding: 10px;
    font-size: 12px;

    cursor: pointer;
}

.foto-sugestao {
    width: 35px;
    height: 35px;
    background-color: rgb(104, 104, 104);
    border-radius: 50%;
    object-fit: cover;
}

.melhores-avaliacoes {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.200);

    background-color: #ffffff;
    font-size: 10px;

    display: grid;

    align-self:flex-start;
}

.melhores-avaliacoes > h2 {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 5px;
    font-weight: 400;
    margin-bottom: 15px;
}

.svg {
    width: 20px;
    color: rgb(255, 0, 0);
}
